* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

hr{
  border: 2px solid #ffffff;
  width: 100px;
}

header {
  margin-top: 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  clear: both;
  overflow: auto;
}

.name {
  font-size: 3em;
  font-weight: 900;
  color: #00a5cf;
  margin: 0;
}

.navigation ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 1em;
}

.navigation a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
  color: #ffffff;
}

.intro {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10em 0;
  color: #ffffff;
}

.content-intro {
  margin-top: 5em;
  overflow: auto;
}

.content-intro h1 {
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}

.content-intro span {
  font-size: 12px;
  font-weight: 100;
  display: block;
  margin-top: 10px;
}

.button-intro {
    padding: 0.5em 2em;
    margin-top: 1em;
    border: 2px solid #00A5CF;
    background-color: #00A5CF;
    color: #ffffff;
    font-weight: 400;
    transition: all 0.2s ease-in;
}

.button-intro:hover {
    background: #ffffff;
    color: #00A5CF;
    border: 2px solid #00A5CF;
}

.about-me {
    padding: 5em 0;
    overflow: auto;
    background: #DADAD9;
}

.about-me h4 {
    color: #00A5CF;
}

.content-wrap {
  width: 90%;
  margin: 0 auto;
}

.col-narrow {
  float: left;
  margin-top: 2em;
  overflow: hidden;
  clear:both;
  text-align: left;
}

.col-narrow h2,h4,p {
  margin: 5px 0;
}

.col-wide {
  float: right;
  text-align: left;
  overflow: hidden;
  margin-top: 2em;
  width: 70%;
}

.social-media ul{
  list-style: none;
  padding: 0;
}
.social-media li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.social-media a{
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.social-media a:hover {
  color: #00A5CF;
  border: 2px solid #00A5CF;
}

.work {
  padding: 5em 0;
  background: linear-gradient(90deg,rgba(0,0,0,0.7),rgba(0,200,255,0.7)),url(images/cde.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center ;
  color: #ffffff;
  overflow: hidden;
}

.contact-me {
  padding: 5em 0;
  overflow: hidden;
  background: #DADAD9;
}

.footer {
  padding: 5em;
  background: black;
  color: #ffffff;
  overflow: auto;
}

@media (max-width:768px) {
  .content-intro{
    margin-top: 3em;
  }
  .col-wide{
      width: 450px;
  }
  .about-me{
    padding:2em 0;
  }
  .intro {
    padding-bottom: 3em ;
  }
  .work {
    padding: 3em 0;
  }
  .contact-me{
    padding: 2em 0;
  }
}

@media (max-width:430px) {

  .navigation a {
    font-size: 12px;
  }
  .navigation li {
    display: inline-block;
    margin: 0;
  }
  .content-intro h1 {
    /* margin-top: 1.5em; */
    font-size: 1.5em;
  }
  .col-narrow {
    padding-top: 1em;
    text-align: center;
    float: none;
  }
  .col-wide {
    text-align: center;
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width:380px){
  .content-intro {
    margin-top: 0;
  }
  .col-narrow img {
    height: 300px;
  }
}

@media (max-width:325px){
  .name {
    font-size: 2.75em;
  }
  .intro {
    padding-top: 150px;
  }
}